{% extends 'base.html' %}
{% load static %}

{% block title %}Predicting Revenue | Restaurant Revenue Prediction{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'calculate_form_styles.css' %}">
{% endblock %}

{% block header %}
    {% include 'include/header_additional.html' %}
{% endblock %}

{% block content %}
    {% if is_form %}
        <div class="form_intro">Upload .csv file with data, fill out the form below and get the result</div>

        <div class="form">
            <form method="post" class="upload_file_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form_element">
                        <label id="{{ field.id_for_label }}" class="label_tag">{{ field.label }}:</label><br>
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form_buttons">
                    <input type="reset" class="reset_button" value="Cansel">
                    <button type="submit" class="submit_button">Predict</button>
                </div>
            </form>
        </div>
    {% else %}
        <p class="result_title">Revenue Prediction</p>
        <div class="revenue_prediction">
            <div class="result_actions">
                {{ content | safe }}
                <div class="saving_buttons">
                    {% if id_pdf >= 0 %}
                        <a href="{% url 'send_pdf_file' id_pdf %}"><button class="btn btn-danger" style="color: white; font-family: Montserrat">GET PDF</button></a>
                    {% else %}
                        <a href="#"><button class="btn btn-danger" style="color: white; font-family: Montserrat">GET PDF</button></a>
                    {% endif %}
                    <a href="{% url 'send_json_file' id_json %}"><button class="btn btn-warning" style="color: white; font-family: Montserrat">GET JSON</button></a>
                </div>
            </div>
            <div class="result_text">
                This app uses CatBoost regression model to predict your restaurant's revenue.
                This is a gradient boosting model. It also demonstrates the results of this model on your data.
                It displays the original data, normalized data, and the end result of the revenue prediction.
                You can download this information to your disk in pdf or json format.
                If you want to know what is CatBoost read
                <a href="https://catboost.ai/" style="text-decoration: none; font-weight: 700">here</a>.
            </div>
        </div>
    {% endif %}
{% endblock %}
