{% extends 'base.html' %}
{% load static %}

{% block title %}Predicting Revenue Form | Restaurant Revenue Prediction{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'calculate_form_styles.css' %}">
{% endblock %}

{% block header %}
    {% include 'include/header_additional.html' %}
{% endblock %}

{% block content %}
    {% if is_form %}
        <div class="form_intro">Upload .csv file with data, fill out the form below and get the result</div>

        <div class="form">
            <form method="post" class="upload_file_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form_element">
                        <label id="{{ field.id_for_label }}" class="label_tag">{{ field.label }}:</label><br>
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form_buttons">
                    <button type="reset" class="reset_button">Cansel</button>
                    <button type="submit" class="submit_button">Predict</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="input_data">
            <p class="input_data_title">Input data</p>
            <div class="table_element">
                <p class="table_title">Category data:</p>
                <table style="width: 250px;">
                    <tr style="border-bottom: 2px solid blue;">
                        {% for cat_col in cat_cols %}
                        <th style="border-right: 2px solid blue; text-align: center;">
                            {{ cat_col }}
                        </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for cat_value in cat_values %}
                            <td style="border-right: 2px solid blue; text-align: center;">
                                {{ cat_value }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <div class="table_element">
                <p class="table_title">Numeric data:</p>
                <table>
                    <tr style="border-bottom: 2px solid blue;">
                        {% for num_col in num_cols %}
                        <th style="border-right: 2px solid blue; text-align: center;">
                            {{ num_col }}
                        </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for num_value in num_values %}
                            <td style="border-right: 2px solid blue; text-align: center;">
                                {{ num_value }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <p class="input_data_title">Normalize data</p>
            <div class="table_element">
                <p class="table_title">Normalize category data:</p>
                <table style="width: 300px;">
                    <tr style="border-bottom: 2px solid blue;">
                        {% for cat_col in cat_cols %}
                        <th style="border-right: 2px solid blue; text-align: center;">
                            {{ cat_col }}
                        </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for norm_cat_value in norm_cat_data %}
                            <td style="border-right: 2px solid blue; text-align: center;">
                                {{ norm_cat_value|floatformat:5 }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="table_element">
                <p class="table_title">Normalize numeric data:</p>
                <table>
                    <tr style="border-bottom: 2px solid blue;">
                        {% for num_col in num_cols %}
                        <th style="border-right: 2px solid blue; text-align: center;">
                            {{ num_col }}
                        </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for norm_num_value in norm_num_data %}
                            <td style="border-right: 2px solid blue; text-align: center;">
                                {{ norm_num_value|floatformat }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <p class="prediction_title">Final result:</p>
            <p style="font-size: 26px;"><b>{{ result_revenue }}</b></p>
        </div>
    {% endif %}
{% endblock %}
