.label_tag{
    font-family: 'Montserrat';
    font-size: 18px;
}

.form_element{
    width: 100%;
    margin-bottom: 15px;
}

.input_field{
    width: 100%;
    height: 50%;
    border-radius: 5px;
}

.input_field:focus{
    outline: 0;
    border: 3px solid #959ef0;
}

.btn-custom-submit{
    width: 100px;
    height: 50px;
    background: #24bf3e;
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;
    border-radius: 7px;
    border: 1px solid;
}

.btn-custom-reset{
    width: 100px;
    height: 50px;
    background: #fa1b1b;
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;
    border-radius: 7px;
    border: 1px solid;
}

.btn-custom-reset:hover{
    background: #8f0b0b;
}

.form_buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-custom-submit:hover{
    background: #167319;
}

.form_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 40px 50px;
    margin-bottom: 20px;
}

.profile_edit_content{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.profile_edit_data{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alert-danger{
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category_text{
    width: 100%;
    height: 100px;
    display: block;
    resize: vertical;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Montserrat';
    font-size: 20px;
}

.category_text:focus{
    outline: 0;
    border: 3px solid #959ef0;
}

.no_photo{
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
    font-family: 'Montserrat';
    font-size: 26px;
}
